@mixin button-primary {
  display: inline-block;
  letter-spacing: .1em;
  padding: 20px 27px;
  font-weight: bold;
  border: .5px solid transparent;
  border-radius: 15px;
  background-color: $secondary-color;
  color: white;
  margin-top: 25px;
  transition: background-color, color, border, .3s ease ;
  &:hover {
    background-color: white;
    color: $text-color;
    border: .5px solid $text-color;
  }
}

@mixin queries($screen) {
    @if($screen == tablet) {
      @media screen and (min-width: 640px) { @content };
    }

    @if($screen == desktop) {
      @media screen and (min-width: 800px) { @content };
    }
}