$primary-color: #565264;
$primary-color-hover: #3e3462;
$secondary-color: #333333;
$third-color: #FF570A;
$text-color: #403b66;
$soft-text-color: #686767;
$section-bckg-color: rgba(146, 106, 232, 0.05);
